{% extends 'base.html' %}

{% block title %}Novo Grupo{% endblock %}

{% block content %}
<style>
    .criar_contato {
        background-color: #fff;
        border-radius: 12px;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 15px 12px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }

    .criar_contato h1 {
        color: white;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        background-color: #0a294a;
        padding: 15px;
        border-radius: 8px;
    }

    .criar_contato h3 {
        color: #333;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .criar_contato .form-group {
        margin-bottom: 20px;
    }

    .criar_contato .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
        color: #666;
    }

    .criar_contato input[type="text"],
    .criar_contato input[type="email"],
    .criar_contato input[type="file"],
    .criar_contato textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .criar_contato button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .criar_contato button:hover {
        background-color: #0056b3;
    }

    .criar_contato hr {
        border: 0;
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }
</style>

<h1>Criar Novo Grupo</h1>
<hr>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <input class="btn btn-success" type="submit" value="Salvar">
  </form>
</div>
{% endblock %}
